<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        html,body{background:#F6F6F6;font-family: "Tahoma",sans-serif;font-size:11px; }
        #emailContainer{background:#ffffff;padding:40px;}
        .content-table td{padding: 5px 0 5px;}
    </style>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailContainer">
                <tr>
                    <td valign="top">
                        <p>Es ist eine neue Anfrage über das Kontaktformular eingetroffen.</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="content-table">
                            <tr>
                                <td width="150px">Vor- und Nachname</td>
                                <td>{{ entry.fullname | default('-') }}</td>
                            </tr>
                            <tr>
                                <td width="150px">Strasse + Nr.</td>
                                <td>{{ entry.street | default('-') }}</td>
                            </tr>
                            <tr>
                                <td>Ort</td>
                                <td>{{ entry.location | default('-') }}</td>
                            </tr>
                            <tr>
                                <td>E-Mail Addresse</td>
                                <td>{{ entry.email | default('-') }}</td>
                            </tr>
                            <tr>
                                <td valign="top">Nachricht</td>
                                <td>{{ entry.message | nl2br | default('-') | raw }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>